.item-list{
    
    list-style: none;
    font-size: .9rem; 
    margin-left: -4rem;
}
.item-list-items{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
 
}
.link-svg{
    height: 1.4rem;
    width: 1.4rem;
}