
.navigation-bar{
        grid-column: 1 /-1;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        position: fixed;
        z-index: 100;
        position: relative;
}
.logo-container{
    margin-left: 3rem; 
    font-size: 2.1rem; 
    font-size: 1.7rem;
  


}
.search{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    font-family: inherit;
    margin-inline-end: -3rem;
    margin-right: auto;
    margin-left: auto;
    
}
.search__input{
    padding: .8rem 1.7rem;
    border-radius: 200px;;
    width: 90%;
    margin-right: -5rem;
    transition: all .5s;
    border: none;
    background-color:#f4f2f2;
    color: #c69963;
  
    &:focus,
    &:active{
    outline: none;
    width: 100%;
   
}
  &::-webkit-input-placeholder{
    font-weight: 300;
    line-height: 1.9;
    color: #c69963;
    font-style: italic;
    
}
}
.search__button{
    border: none;
    transition: all .5s;
    background-color:#c69963;
    padding: .8rem 1.2rem;
    border-radius: 100px;
    color: #fff;
    box-shadow: 0 .5rem .6rem rgba(#c69963, 0.3);
   
    &:focus{
        outline: none;
    }
  

}
.first{
    color: #BA265D;

}
.second{
    color: #c69963;

}
.nav-lists{
    display: flex;
    justify-content: space-around;
    margin-right: 3rem;
    align-content: center;
    font-size: 14px;
    
}
.nav-items{
    display: flex;
    justify-content: center;  
    margin-left: 1.7rem;
    
}
.profile{
    margin-left: 1.7rem;
    display: flex;
    justify-content: center;
    align-items:center;

}

.shopping-cart,
.help{
    margin-left: 1.7rem; 
    display: flex;
}
.icon{
    height: 2rem;
    width: 2rem;
    fill: rgba(#101d2c,.85);
}
.item-count{
    height: 1.4rem;
    width: 1.4rem; 
    background-color: #e15f41;
    border-radius: 200px;
    position: absolute;
    top: -.9rem;
    left: 1.65rem;
    color: #fff;
    font-size: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    
}
.shopping-cart{
    position: relative;
    display: flex;
    align-items: center;
   


}
 .text{
    font-size: 1rem;
    margin-left: 5px;
    display: flex;
} 
.help{
    display: flex;
    align-items: center;
   

}
.logo{
    height: 4rem;
    width: 4rem;
    fill:#c69963;
}
.logo-link{
    display: flex;
    align-items: center;
    
}

